# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.FocoClient.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\UnityProject\FocoClient\.idea\.idea.FocoClient\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
